#banner{
  background-image: url("assets/images/banner.jpg");
  min-height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-ms-overflow-style: none;
	scrollbar-width: none
}

::-webkit-scrollbar {
	display: none
}